modules = ["nodejs-20", "python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[userenv]

[userenv.shared]
DB_NAME = "prawwreads"
SMTP_FROM = "noreply@praww.co.za"
VAPID_PUBLIC_KEY = "BIyYC0WOL7RgtV1O6XmHzL9vB7I93-z6uj4moQOBCRGbfxH1_NqxOgIf9IkahHv9LCLpcWNoLdPxIfDLDz5d4gE"
VAPID_PRIVATE_KEY = "MHcCAQEEIKc_nT17kAuodVMuJG6-Epj_5R1BFE-FFoeRKNSNNTfooAoGCCqGSM49AwEHoUQDQgAEjJgLRY4vtGC1XU7peYfMv28Hsj3f7Pq6PiahA4EJEZt_EfX82rE6Ah_0iRqEe_0sIulxY2gt0_Eh8MsPPl3iAQ"
VAPID_CLAIMS_EMAIL = "mailto:noreply@praww.co.za"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && uvicorn server:app --host 0.0.0.0 --port 5000 --reload"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd backend && uvicorn server:app --host 0.0.0.0 --port 5000"]
build = ["bash", "-c", "cd frontend && npm install && CI=false node_modules/.bin/craco build"]
